.game h1 {
  font-size: 2.5em;
}

.points span {
  font-weight: bold;
}

.tip span {
  color: #66ceff;
  text-shadow: 0 0 10px rgba(238, 238, 238, 0.553);
}

.wordContainer {
  margin: 1.5em;
  padding: 1.5em;
  border: 3px solid #26a0da;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: flex;
  gap: 10px;
}

.letter, .blankSquare {
  font-size: 70px;
  line-height: 1.5;
  border: 3px solid #314755;
  border-radius: 10px;
  height: 100px;
  width: 100px;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur( 20px );
  color: #314755;
  font-weight: bold;
}

.letterContainer p {
  margin-bottom: 1.2em;
}

.letterContainer form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.letterContainer input {
  height: 50px;
  width: 50px;
  font-size: 2em;
  text-align: center;
  margin-right: 1em;
  border-radius: 10px;
}

.wrongLettersContainer span {
  text-transform: uppercase;
}